<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>AWS Opsworks Node.js Example</title>
</head>
<body>
	<h1>DAVE RULES!</h1>
	<h2>AWS Opsworks Node.js Example</h2>
		<p>Amazon RDS Endpoint: <em><%= hostname %></em></p>
		<p>User: <em><%= username %></em></p>
		<p>Password: <em><%= password %></em></p>
		<p>Port: <em><%= port %></em></p>
		<p>Database: <em><%= database %></em></p>

		<p>Connection: <%= connectionerror %></p>
		<p>Databases: <%= databases %></p>
</body>
</html>